<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 的 CSS 文件 -->
    <link href="/style/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">
    <link rel="icon" href="/style/favicon.ico">
    <title>三藏的摸鱼圣地</title>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default navbar-fixed-top">

    <div class="container-fluid layout">
        <a class="navbar-brand my_font" href="#">三藏的摸鱼圣地</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% block index %}
                    <li class="nav-item">
                        <a class="nav-link layout_text my_font" aria-current="page"
                           href="{{ url_for('index') }}">影音娱乐</a>
                    </li>
                {% endblock %}
                {% block tool %}
                    <li class="nav-item layout_text my_font">
                        <a class="nav-link layout" href="{{ url_for('tool') }}">实用工具</a>
                    </li>
                {% endblock %}
                {% block study %}
                    <li class="nav-item layout_text my_font">
                        <a class="nav-link" href="{{ url_for('study') }}">大学急救</a>
                    </li>
                {% endblock %}
                {% block more %}
                    <li class="nav-item layout_text my_font">
                        <a class="nav-link" href="{{ url_for('more') }}">其他宝藏</a>
                    </li>
                {% endblock %}

            </ul>
        </div>
    </div>
</nav>
<!--\\导航栏-->
<!--内容专区-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <!--            左侧区域-->
        </div>
        <div class="main_content" id="screen">
            <!--                警告区域-->
            <div class="alert alert-danger alert-dismissible fade show my_font margint40" role="alert">
                <strong>注意！！！</strong> {% block attention %}{% endblock %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!--                //警告区域-->
            <!--        //主要内容区域-->
            <div class="neirong">
                {% block box1 %}
                {% endblock %}
                {% block box2 %}
                {% endblock %}
                {% block box3 %}
                {% endblock %}
                {% block box4 %}
                {% endblock %}
                {% block box5 %}
                {% endblock %}
            </div>
            {#        页脚专区#}
            <div class="foot">
                <div class="foot_box1">
                    <p>本网站的一切资源都源于网络免费分享,仅供小范围的免费参考和学习兴趣交流</p>
                </div >
                <div class = "foot_box1"><p>如果有侵权之处请第一时间联系我们,第一时间删除 Email-2889067003@qq.com</p></div>
            </div>

        </div>

        <!--        //主要内容区域-->
        <!--            右侧区域-->
        <div class="col right">
{#            <div class="box-right hidden"><h5>板块介绍</h5>#}
{#            <p>本板块集结了目前本人知道的所有免费看电影听音乐和看小说等资源,可能细心的朋友可能发现了有些盒子并没有免费呐emmmm....对确实有些box是正版软件,大家在用正版的同时不要忘了正版付出的努力,大家有条件的支持正版一波</p>#}
{#            </div>#}
        </div>
    </div>
</div>

<script src="/style/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
<!-- 选项 2：Popper 和 Bootstrap 的 JS 插件各自独立 -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js" integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-YSu1vEueMOXZYSSiTgjRD6egOBAdWrKI6AQBdHjTtvftX42GZLCVzwlxm0RJuipa" crossorigin="anonymous"></script>
-->
</body>
</html>
<script>
    const reduceMotionQuery = matchMedia('(max-width: 768px)')
    reduceMotionQuery.addListener(setblushAnimate)

    function setblushAnimate() {
        if (reduceMotionQuery.matches) {
            screen = document.getElementById("screen");
            screen.className = 'col-12'
        }
        else {
            screen = document.getElementById("screen");
            screen.className = 'col-9';
        }
    }

    setblushAnimate()
</script>

