{% extends 'base.html' %}
{% from 'boxmacro.html' import label_box1 %}
{% block index %}
    <li class="nav-item">
        <a class="nav-link active layout_text my_font" aria-current="page" href="{{ url_for('index') }}">影音娱乐</a>
    </li>
{% endblock %}
{% block attention %}
    使用本网站一定要下载实用工具中的Ad广告拦截插件可以防止90%的诈骗,家里没有几百万就不要随便点击广告,广告水深,你把握不住的.
{% endblock %}

{% block box1 %}
    <div class="text_font">影视娱乐</div>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
        {{ label_box1(href="www.o8tv.com",name="555电影",img="555dy.ico") }}
        {{ label_box1(href="www.nfyingshi.com",name="奈菲电影",img="nfdy.png") }}
        {{ label_box1(href="netflix.mom",name="鸭奈菲",img="ylf.ico") }}
        {{ label_box1(href="www.dygod.net",name="电影天堂",img="dytt.ico") }}
        {{ label_box1(href="cupfox.app",name="茶杯狐",img="cbh.png") }}
        {{ label_box1(href="www.yinfans.me",name="音范电影",img="yfdy.ico") }}
        {{ label_box1(href="tkys.vip",name="天空电影",img="tkdy.ico") }}
        {{ label_box1(href="v.qq.com",name="腾讯视频",img="txsp.ico") }}
        {{ label_box1(href="www.piaohuabo.com",name="飘花电影",img="ph.png") }}
        {{ label_box1(href="www.bilibili.com",name="哔哩哔哩",img="blbl.png") }}
        {{ label_box1(href="quanyingshi.com",name="影视录",img="ysl.png") }}
        {{ label_box1(href="www.mhyyy.com",name="麻花视频",img="mhsp.png") }}
        {{ label_box1(href="www.mozhatu.com",name="莫扎兔",img="mzt.png") }}
        {{ label_box1(href="www.jpys.me",name="极品影视",img="jpys.png") }}
        {{ label_box1(href="waipian8.com",name="歪片星球",img="ypxq.png") }}
        {{ label_box1(href="youku.com",name="优酷视频",img="yksp.png") }}
        {{ label_box1(href="xmmi.xyz",name="猫咪影视",img="mmys.png") }}
        {{ label_box1(href="www.100fyy1.com",name="100分影院",img="100f.ico") }}
        {{ label_box1(href="lehootv.com",name="乐活影院",img="lhys.ico") }}
        {{ label_box1(href="www.iqiyi.com",name="爱奇艺",img="aqy.png") }}
        {{ label_box1(href="www.37dyw.com",name="37电影",img="37dy.ico") }}
        {{ label_box1(href="www.zbkk.net",name="不卡影院",img="bkyy.ico") }}
        {{ label_box1(href="dyxs20.com",name="电影先生",img="dyxs.png") }}
    </div>
{% endblock %}
{% block box2 %}
    <div class="text_font margint10">音乐分享</div>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
        {{ label_box1(href="www.yinyueke.net",name="音乐客",img="yyk.ico") }}
        {{ label_box1(href="music.163.com",name="网易云",img="wyy.ico") }}
        {{ label_box1(href="music.liuzhijin.cn",name="刘音乐",img="lyy.ico") }}
        {{ label_box1(href="www.gequdaquan.net",name="音乐大全",img="yydq.ico") }}
        {{ label_box1(href="music.zhuolin.wang",name="音乐下载",img="yydq.ico") }}
        {{ label_box1(href="y.qq.com",name="QQ音乐",img="qqyy.ico") }}
        {{ label_box1(href="www.kugou.com",name="酷狗音乐",img="kugou.ico") }}
        {{ label_box1(href="www.musictool.top",name="音乐搜索",img="yyss.png") }}
        {{ label_box1(href="music.wandhi.com",name="全网音乐",img="qwyy.ico") }}
        {{ label_box1(href="music.moresound.ml",name="摩声音乐",img="msyy.ico") }}
        {{ label_box1(href="thewind.xyz",name="无名音乐",img="wmyy.ico") }}
        {{ label_box1(href="www.fangpi.net",name="放屁音乐",img="fpyy.png") }}
        {{ label_box1(href="tonzhon.com",name="铜钟音乐",img="tzyy.ico") }}
        {{ label_box1(href="music.douban.com",name="豆瓣音乐",img="dbyy.ico") }}
        {{ label_box1(href="baidu.9ku.com",name="九库音乐",img="9kyy.ico") }}
    </div>
{% endblock %}
{% block box3 %}
    <div class="text_font margint10">二次元动漫</div>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
        {{ label_box1(href="www.bilibili.com",name="哔哩哔哩",img="blbl.png") }}
        {{ label_box1(href="www.yinghuacd.com",name="樱花动漫",img="yhdm.ico") }}
        {{ label_box1(href="www.bimiacg4.net",name="bimi动漫",img="mi.ico") }}
        {{ label_box1(href="piliacg.cn",name="霹雳动漫",img="pldm.png") }}
        {{ label_box1(href="bangumi.tv",name="番组计划",img="fzjh.ico") }}
        {{ label_box1(href="share.acgnx.se",name="末日动漫",img="mrdm.ico") }}
        {{ label_box1(href="www.zzzfun.com",name="ZzzFun",img="ZF.ico") }}
        {{ label_box1(href="mikanani.me",name="蜜桔动漫",img="mj.ico") }}
        {{ label_box1(href="www.acfun.cn",name="AcFUN",img="Az.ico") }}
        {{ label_box1(href="nyaa.si",name="Nyaa",img="nyaa.png") }}
        {{ label_box1(href="www.comicat.org",name="漫猫动漫",img="mm.ico") }}
        {{ label_box1(href="www.aigei.com",name="勤漫国字",img="qmgz.ico") }}
        {{ label_box1(href="www.dongmanhuayuan.com",name="动漫花园",img="dmhy.ico") }}
        {{ label_box1(href="www.miobt.com",name="MioBt",img="MB.ico") }}
        {{ label_box1(href="www.dmhy.org",name="动漫花园",img="dmhy2.ico") }}
        {{ label_box1(href="www.sbdm.net",name="异世界漫",img="ysjdm.ico") }}
    </div>
{% endblock %}
{% block box4 %}
    <div class="text_font margint10">小说漫画</div>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
        {{ label_box1(href="www.giffox.com",name="giffox",img="ts.svg") }}
        {{ label_box1(href="www.soshu.cc",name="搜书网",img="ssw.ico") }}
        {{ label_box1(href="www.woyaoso.cn",name="云搜小说",img="ysxs.ico") }}
        {{ label_box1(href="www.owlook.com.cn",name="OwlLook",img="wl.ico") }}
        {{ label_box1(href="www.chashu.cc",name="查书网",img="csw.ico") }}
        {{ label_box1(href="www.aixiaoshuo.com",name="爱小说",img="axs.ico") }}
        {{ label_box1(href="www.freexiaoshuo.com",name="免费小说",img="mfxs.ico") }}
        {{ label_box1(href="www.wcxsw.la",name="无错小说",img="wcxs.ico") }}
        {{ label_box1(href="www.15huang.com",name="书荒网",img="shw.ico") }}
        {{ label_box1(href="shuqi.com",name="书旗小说",img="sqxs.ico") }}
        {{ label_box1(href="e-m.jd.com",name="京东读书",img="jdds.png") }}
        {{ label_box1(href="manhua.dmzj.com",name="在线漫画",img="zxmh.ico") }}
        {{ label_box1(href="www.manben.com",name="漫本",img="manb.ico") }}
        {{ label_box1(href="www.zymk.cn",name="知音漫客",img="zymk.ico") }}
        {{ label_box1(href="ac.qq.com",name="腾讯漫画",img="txmh.ico") }}
        {{ label_box1(href="manga.bilibili.com",name="B站漫画",img="bzmh.ico") }}
    </div>
{% endblock %}
{% block box5 %}
    <div class="text_font margint10">摸鱼游戏</div>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
        {{ label_box1(href="poki.cn",name="POKI",img="poki.ico") }}
        {{ label_box1(href="www.crazygames.com",name="Crazy",img="cr.png") }}
        {{ label_box1(href="frvr.com",name="FRVR",img="frvr.ico") }}
        {{ label_box1(href="www.silvergames.com",name="sliverga",img="srg.ico") }}
        {{ label_box1(href="iogames.space",name="iogame",img="lo.webp") }}
        {{ label_box1(href="lagged.com",name="Lagged",img="lgd.ico") }}
        {{ label_box1(href="www.beatstage.com",name="在线音游",img="zxyy.ico") }}
        {{ label_box1(href="www.yikm.net",name="小霸王",img="xbw.png") }}
        {{ label_box1(href="flash.zczc.cz",name="Flash基地",img="bc.ico") }}
        {{ label_box1(href="tr.heheda.top",name="神庙逃亡",img="smtw.png") }}
        {{ label_box1(href="fn.heheda.top",name="水果忍者",img="sgrz.ico") }}
        {{ label_box1(href="lines.frvr.com",name="连连看",img="llk.png") }}
        {{ label_box1(href="classic.minecraft.net",name="我的世界",img="wdsj.ico") }}
        {{ label_box1(href="powerline.io",name="国际贪吃蛇",img="tcs.png") }}
        {{ label_box1(href="www.saolei123.com",name="在线扫雷",img="sl.ico") }}
        {{ label_box1(href="thezen.zone",name="随机游戏",img="sjjy.ico") }}
        {{ label_box1(href="theuselessweb.com",name="在线解压",img="zxjy.ico") }}
        {{ label_box1(href="magickeyboard.io",name="键盘乱敲",img="jpld.png") }}
    </div>
{% endblock %}